main {
  display: grid;
  background-color: #dfdedb;
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  h4 {
    color: rgb(16, 24, 40);
    font-family: Reckless Neue;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
  }
}
@media (max-width: 700px) {
  main {
    display: grid;
    .products {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
    }
  }
}
